body{
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Montserrat';
	transition: 0.4s;
}

a{
	color: black;
	text-decoration: none;
	margin: 0;

}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

#header{
	background: #131722;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
}

#header img{
	margin: 10px;
	float: left;
}

#header #type{
	cursor: pointer;
	height: 80px;
	width: 400px;
	float: right;
	overflow: hidden;
	display: block;
}

#header #type div{
	background: white;
	padding: 30px;
	width: 140px;
	color: #131722;
	float: right;
	text-align: center;
	font-size: 20px;
}

#header #type div:hover{
	opacity: 0.6;
}

#header #type div.active{
	padding-bottom: 26px;
	border-bottom: 4px solid #131722;
}


#form{
	width: 400px;
	height: 700px;
	float: right;
	background: #131722;
	position: fixed;
	right: 0;
	top: 80px;
}

#form h1{
    font-size: 40px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
    margin-left: 5%;
}

#form div{
	margin-top: 100px;
	text-align: center;
	display: none;
}

#form div.active{
	display: block !important;
}

#form input{
	width: calc(90% - 40px);
	display: inline-block;
	padding: 20px;
	border: 3px solid white;
	background: #131722;
	outline: none;
	color: white;
	font-size: 17px;
	margin-top: 5px;
	outline: none;
}

#form button{
	width: calc(90% + 6px);
	display: inline-block;
	padding: 20px;
	border: 3px solid white;
	background: white;
	outline: none;
	color: #131722;
	font-size: 24px;
	margin-top: 15px;
	cursor: pointer;
	transition: 0.4;
	overflow: hidden;
	margin-bottom: 5px;
}

#form button:hover{
	background: white;
	color: #131722;
	transition: 0.4;
}

#form a{
	color: white;
	padding-top: 5px;
	font-size: 14px;
}

#footer{
	bottom: 0;
	right: 0;
	width: 400px;
	position: fixed;
	overflow: hidden;
	height: 50px;

}

#footer p{
	padding: 20px;
	font-size: 20px;
}

#main{
	float: left;
	width: calc(100% - 400px);
	overflow: hidden;
	text-align: center;
	margin-top: 80px;
}


#index{
	width: 90%;
	max-width: 1000px;
	display: inline-block;
	overflow: hidden;
	margin-top: 100px;
}

#index img{
	margin: 15px;
	float: right;
	width: 430px;
}

#index_text{
	float: left;
	width: calc(100% - 500px);
	text-align: left;
	margin-top: 10px;
}

#index_text h1{
	color: #131722;
	margin-top: 5px;
	font-size: 40px;
	font-weight: 500;
	width: 90%;
	margin-left: 30px;
}

#index_text p{
	color: #131722;
	margin-top: 30px;
	font-size: 25px;
	font-weight: 400;
	width: 90%;
	margin-left: 30px;
}

#pluses{
	width: 90%;
	max-width: 1000px;
	display: inline-block;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 100px;
}

#pluses_blocks{
	flex-direction:row;
 	justify-content:center;
 	align-items:baseline;
 	display: flex;
 	width: 100%;
}

#pluses_block{
	width: 45%;
	text-align: left;
	color: #131722;
	margin-top: 50px;
}

#pluses_block h1{
	margin-top: 15px;
	font-size: 30px;
	font-weight: 500;
}

#pluses_block p{
	margin-top: 15px;
	font-size: 20px;
	width: 90%;
}

#policies{
	flex-direction:row;
 	justify-content:center;
 	align-items:baseline;
 	display: flex;
 	width: 100%;
}

#policies a{
	width: 25%;
	padding: 20px;
	font-weight: 600;
}


@media screen and (max-width: 1500px) {
	#index img{
		margin: 15px;
		float: right;
		width: 350px;
		margin-top: 55px;
	}

	#index_text{
		float: left;
		width: calc(100% - 400px);
		text-align: left;
		margin-top: 20px;
	}
}

@media screen and (max-width: 1350px) {
	#index img{
		margin: 15px;
		float: right;
		width: 250px;
		margin-top: 105px;
	}

	#index_text{
		float: left;
		width: calc(100% - 300px);
		text-align: left;
		margin-top: 20px;
	}
}

@media screen and (max-width: 1000px) {
	#index img{
		display: none;
	}

	#index_text{
		float: left;
		width: 100%;
		text-align: left;
		margin-top: 20px;
	}
}